[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
regex = "*"
imagesize = "*"
pillow = "*"
pydantic = "==1.*"
discord-webhook = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
