[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.4.3"
regex = "==2024.5.15"
imagesize = "==1.4.1"
pillow = "==10.4.0"
pydantic = "==1.10.17"
discord-webhook = "==1.3.1"
sqlalchemy = "==2.0.31"
urllib3 = "==2.2.2"
requests = "==2.32.2"

[dev-packages]
alembic = "==1.13.1"

[requires]
python_version = "3.11"
